<launch>
    <param name="/use_sim_time" value="true"/>
    <param name="/stage/use_sim_time" value="true"/>

    <!-- Define arguments -->
    <arg name="vid_folder" default="$(env HOME)/catkin_ws/videos"/>

    <include file="$(find rosplan_stage_demo)/launch/empty_stage_single_robot.launch"/>
    
    <node name="video_player" pkg="second_coursework" type="itr_cw2425CS" 
          args="--video_folder $(arg vid_folder) --test"/>
    
    <node name="yolo_detector" pkg="second_coursework" type="yolo_detector.py" 
          output="screen" respawn="true" respawn_delay="5"/>
    
    <!-- Add delay to ensure services are up -->
    <arg name="startup_delay" default="2"/>
    <node name="startup_delay" pkg="rospy" type="sleep" args="$(arg startup_delay)"/>
    
    <node name="patrol_action_server" pkg="second_coursework" type="action_server.py" 
          output="screen" respawn="true" respawn_delay="5"/>
    <node name="emergency_subscriber" pkg="second_coursework" type="main.py" 
          output="screen" respawn="true" respawn_delay="5"/>
    
    <include file="$(find ros_vosk)/launch/ros_vosk.launch"/>
    <param name="/vosk/model_path" value="/opt/itr_ws/src/ros-vosk/models/vosk-model-small-en-us-0.15"/>
    
    <node name="rviz" pkg="rviz" type="rviz" 
          args="-d $(find rosplan_stage_demo)/config/rosplan_stage_demo.rviz"/>
    
    <remap from="/clock" to="/stage/clock"/>
</launch>